#Eclipse files
.tern-project
 
#Visual Studio files
.vscode/

#Maven files
target/

#Java files
*.class
*.jar
*.war
*.ear
hs_err_pid*

#Common files
*~
/.apt_generated/
.factorypath
.classpath
.project
.settings/